Task - 1.2

In [28]:
seq = []
for x in list(range(2000,3200)):
    if x  % 7 ==  0 and x % 5 != 0:
        seq.append(x)
seqStr = str(seq)[1:-1]
print(seqStr)

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199

Task 1.3

In [32]:

fname = input("Enter First Name")
fname_rev = fname[::-1]
lname = input("Enter Last Name")
lname_rev  = lname[::-1]
name = fname_rev+" "+lname_rev
print(name)

Enter First Namekamal
Enter Last Namekhan
lamak nahk

Task 1.4

In [7]:
dmtr = input("Enter Diameter")
radius = int(dmtr) / 2
vol = (4/3) * (22/7)  * (radius * radius * radius)
print('volume  '+str(vol))

Enter Diameter12
volume  905.142857142857

Task 2.1

In [15]:
seq_input = input("Enter comma seperated sequence of no")
seq_arr = seq_input.split(",")
list_num = []
for x in seq_arr[::1]:
  list_num.append(int(x))
print(list_num)

Enter comma seperated sequence of no1,2,3,4
[1, 2, 3, 4]

Task 2.2

In [33]:
for i in range (0, 6):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range (6, 0, -1):
    for j in range(0, i -1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

Task 2.3

In [34]:
strg = input("Enter String")
rev_stng = strg[::-1]
print(rev_stng)

Enter StringAcadGild
dliGdacA

Task 2.4

In [16]:
input_str  = "WE,THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN,SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"
print(input_strng)
fmt_str = input_str.split(",")
print(fmt_str)
output_str = fmt_str[0] +","+fmt_str[1] + "," + '\n'+"    "+fmt_str[2]
print(output_str)

WE,THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN,SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens
['WE', 'THE PEOPLE OF INDIA', ' having solemnly resolved to constitute India into a SOVEREIGN', 'SOCIALIST', ' SECULAR', ' DEMOCRATIC REPUBLIC and to secure to all its citizens']
WE,THE PEOPLE OF INDIA,
     having solemnly resolved to constitute India into a SOVEREIGN